@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
span {
  font-family: "Bebas Neue", cursive;
}

:root {
  --primary-color: #0b60df;
  --secondary-color: #0d6efd;
}

._logo {
  font-weight: 700;
  color: var(--primary-color) !important;
  font-size: 2rem !important;
}
._navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
._navbar-nav li {
  margin-left: 2rem !important;
}
._navbar-nav li a {
  color: #222 !important;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
}
._navbar-nav li a:hover {
  color: var(--primary-color) !important;
  transition: ease 0.3s;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 1rem;
}

#sign_in {
  background-color: var(--secondary-color);
  color: #fff !important;
  border: 1px solid var(--secondary-color);
}
#sign_in:hover {
  background-color: transparent;
  color: var(--secondary-color) !important;
  transition: ease 0.5s;
}
.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}

/* Header Text Area */
._text__area span {
  color: #fa804c;
}
._text__area p {
  text-align: justify !important;
}

/* exchange and Seller */
.seller {
  margin-top: 7rem;
}
.wrapper {
  margin-bottom: 2rem;
}
.wrapper img {
  width: 100px;
}
._text_Part p {
  width: 80%;
}

._color {
  color: #fff !important;
  font-size: 12px !important;
}
